#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  width: 100px;
  height: 100px; 
  margin-right: 1000px;
  border-radius: 2rem;
  margin-bottom: 90px;
}

nav {
  height: 50px;
  padding-bottom: 90px;
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links > a {
  margin: 0.9rem;
}

.nav-links {
  margin-left: -200px;
  margin-top: -120px;
}

.social-icon {
  height: 30px;
  width: 30px;
  padding-right: 15px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.about-avatar {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:flex-start;
    height: 40vh;
    margin-left: 600px;
}

.main-content h1::after {
  content: "";
  width: 7px;
  height: 60px;
  background: #f0b26f;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

.intro {
  color: #f0b26f;
}

.job-title:hover {
  cursor: url('./assets/wand.png'), auto;
  -webkit-text-fill-color: #DCE2EB
}

.job-title {
  -webkit-text-stroke: 2px #ADB8CA;
  /* -webkit-text-fill-color: #f1dfc7; */
  -webkit-text-fill-color: #ADB8CA;
}

/* .skills-content {
  margin-bottom: 100px;
} */

footer {
    position: absolute;
    width: auto;
    padding-top: 10px;
}

span.food, span.peace {
  font-size: 30px;
}

/* .specific-skill {
  border-radius: 1rem;
  border-color: rgb(217, 194, 145);
  border-style: solid; 
  width: 100px;
  margin-top: 5px;
  text-align: center;
} */

.avatar {
  height: 500px;
  width: 500px; 
}

.left-side {
    width: 105px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
}

.left-side li {
  list-style-type: none; 
  margin-bottom: 15px;
}

.left-side::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: black;
}

.right-side {
  width: 105px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
}

.email-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    margin-bottom: 20px;
    padding-left: 40px;
}

.right-side::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: black;
}

.name {
  font-size: clamp(40px, 8vw, 80px);
}





