#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  width: 150px;
  height: 150px; 
  margin-right: 1000px;
  border-radius: 2rem;
}

nav {
  height: 50px;
  padding-bottom: 150px;
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
}

.nav-links > a {
  padding-left: 3rem; 
}

.nav-links {
  padding-top: 40px;
}

.social-icon {
  height: 30px;
  width: 30px;
  padding-right: 15px;
}

ColladaModel {
    width: 500px;
    height: 500px; 
}

