#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  width: 150px;
  height: 150px; 
  margin-right: 1000px;
  border-radius: 2rem;
}

nav {
  height: 50px;
  padding-bottom: 150px;
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  padding-left: 90px;
}

.nav-links > a {
  margin: 0.6rem;
}

.nav-links {
  padding-top: 40px;
  padding-right: 80px;
}

.social-icon {
  height: 30px;
  width: 30px;
  padding-right: 15px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.main-content h1::after {
  content: "";
  width: 7px;
  height: 60px;
  background: #f0b26f;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

.job-title:hover {
  cursor: url('./assets/wand.png'), auto;
  -webkit-text-fill-color: #f0b26f;
}

.job-title {
  -webkit-text-stroke: 2px #f0b26f;
  -webkit-text-fill-color: #f1dfc7;
  width:fit-content;
}

.skills-content {
  margin-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    width: auto;
    padding-left: 33px;
}


