:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f1dfc7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  font-size: large;
  color: #fefefe;
  text-decoration: inherit;
}
a:hover {
  color: #e3a63c;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
}

h2 {
  font-size: 2.90em; 
}

h3 {
  font-size: 1.25em; 
}

h4 {
  font-size: 1.02em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
} 

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input, textarea {
  margin: 4px 0;
  padding: 8px;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}


